h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid grey;
    margin: 0px;
    padding-top: 0px;
}

li input {
    width : 100%;
    padding : 10px 0%;
}

a {
    text-decoration: none;
}

#side {
    border-right: 1px solid grey;
}

ol {
    width: 1/9fr;
    margin: 0px;
    padding: 20px 20px 20px 30px;
}

#grid {
    display: grid;
    grid-template-columns: 200px auto;
    border-bottom: 1px gray solid;
}

@media(max-width:800px){
    #grid {
        display:block;
    }
    #side {
        border-right: none;
    }
    ol {
        border-right: none;
        display:block;
        border-bottom: 1px gray solid;
    }
}

body {
    margin: 0;
}

a[class="new"]::after {
    content: "new!";
    margin-left: 20px;
    height: 15px;
    font-size: 12px;
    padding: 2px 5px;
    color: white;
    background-color: rgba(228, 77, 77, 0.849);
}

/* .Chapter {
    color: violet;
} */

legend {
    font-size: 20px;
}

fieldset ul {
    font-size: 18px;
}

div > h2 {
    color: violet;
}

legend + p {
    font-weight: bold;
}

legend ~ p {
    font-style: italic;
}

li[title] {
    color: crimson 
}

[title=att2] {
    font-weight : bold;
}

[title|=att4] {
    font-style : italic;
}

[title^=at]  {
    background : yellow;
}

[title$=t6] {
    text-align : center;
}

[title*=tt] {
    text-shadow: 1px 1px rebeccapurple;
}

ul a:link {
    color: blue;
}

ul a:visited {
    color:red;
}

#activetest {
    width: 300px;
}

#activetest:active {
    width: 600px;
}

#hovertest {
    width:300px;
}

#hovertest:hover {
    width:600px;
}

#activetest:target{
    background : red;
}

#hovertest:target{
    background : blue;
}

.abledtest:enabled {
    background: red;
}

.abledtest:disabled {
    background: blue;
    color: white;
}

#checkedtest:checked + label {
    background : black;
    color : white;
}

ul input[type=radio]:not([name=nott2]) + label {
    background : black
}

input[type=radio] {
    margin: 20px;
}

#test10 li:last-of-type{
    font-weight: bold;
}